<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorev</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <a id="nav_logo">
            <img src="" />logo
        </a>
        <div id="nav_left">
            <ul id="nav_left">
                <a><li>Products</li></a>
                <a><li>Why Sorev</li></a>
                <a><li>Products</li></a>
            </ul>
        </div>
        <div id="nav_right_login">
            <ul>
                <a><li>Login</li></a>
                <a id="nav_contact"><li>Contact</li></a>
            </ul>
        </div>
    </nav>
    <main>
        <header class="cards_main">Banner photo here
            <img />
        </header>
        <section class="cards_main">Why Sorev</section>
        <section class="cards_main" id="WWD_card">
            <h3>What We Do</h3>
            <div id="WWD_wrapper">
                <div class="WWD_card">Design</div>
                <div class="WWD_card">Produce</div>
                <div class="WWD_card">Market</div>
                <div class="WWD_card">Manage</div>
            </div>
        </section>
        <section class="cards_main" id="values_wapper">Values</section>
        <section class="cards_main">Creators
            <div id="creators_wrapper">
                <a class="creator_img"><img src="" />Creator 1</a>
                <a class="creator_img"><img src="" />Creator 2</a>
                <a class="creator_img"><img src="" />Creator 3</a>
            </div>
        </section>
        <form class="cards_main">Contact form
            <div id="contact_wrapper">
                <text>Name</text>
                <text>Email</text>
                <button>Submit</button>
            </div>
        </form>
    </main>
    <footer>Sorev Footer</footer>
    <script src="script.js"></script>
</body>
</html>

